html, body, body * {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100vh;
  background: #556270;  
  background: -webkit-linear-gradient(to right, #FF6B6B, #556270); 
  background: linear-gradient(to right, #FF6B6B, #556270); 
}

#calculator {
  width: 100%;
  height: 100%;
    
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
  "screen1 screen1 screen1 screen1"
  "screen2 screen2 screen2 screen2"
  "row11 row12 row13 row14"
  "row24 row22 row21 row23"
  "row34 row31 row32 row33"
  "row44 row41 row42 row43"
  "row54 row51 row52 row53";

  background-color: #222;
  opacity: 0.8;
    
  margin: 0 auto;
}

button {
  background-color: #000;
  opacity: 0.8;
  border: none;
  font-family: 'Open Sans', sans-serif;
  color: #FF6B6B;
  font-size: 3.5em;
}
button:focus { outline: none; }
button:hover { color: #BA4E4E; }


.operator {
  color: #C6E2E9;
}
.operator:hover {
  color: #536678;
}

#top-panel {
  grid-area: screen1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#info-panel {
  grid-area: screen1;

  z-index: 2;
  background-color: white;
  width: 100%;
  height: 100%;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
#info-panel p {
  font-family: 'Open Sans', sans-serif;
  color: #FF6B6B;
}
#info-panel p a {
  color: #FF6B6B;
  text-decoration: none;
}
#info-panel p a:hover { text-decoration: underline }
#info-panel p a:active { text-decoration: underline }

#special-link{
  pointer-events: none;
  cursor: default;
}

#info-mark {
  padding: 0 5%;
  width: 2.5em;
  height: 2.5em;
  z-index: 3;
  fill: #CBC0D3;
}

#screen1 {
  width: 84%;
  font-family: 'Open Sans', sans-serif;
  color: #CBC0D3;
  font-size: 1.8em;
  text-align: right;
  
  padding: 0 8% 0 0;
  margin: auto auto;
}
#screen2 {
  grid-area: screen2;
  
  width: 84%;
  font-family: 'Open Sans', sans-serif;
  color: #CBC0D3;
  font-size: 2em;
  text-align: right;
  
  padding: 0 8%;
  margin: auto auto;
}

#num1 {
  grid-area: row41;
}
#num2 {
  grid-area: row42;
}
#num3 {
  grid-area: row43;
}
#num4 {
  grid-area: row31;
}
#num5 {
  grid-area: row32;
}
#num6 {
  grid-area: row33;
}
#num7 {
  grid-area: row22;
}
#num8 {
  grid-area: row21;
}
#num9 {
  grid-area: row23;
}
#num0 {
  grid-area: row51;
}
#numDec {
  grid-area: row52;
}
#numEql {
  grid-area: row53;
}
#numDiv {
  grid-area: row24;
}
#numMult {
  grid-area: row34;
}
#numMinus {
  grid-area: row44;
}
#numPlus {
  grid-area: row54;
}
#leftParth {
  grid-area: row11;
}
#rightParth {
  grid-area: row12;
}
#clearAll {
  grid-area: row13;
}
#delete {
  grid-area: row14;
}

      /* Custom, iPhone Retina */ 
@media only screen and (min-device-width : 320px) {
  #calculator {
    max-width: 100%;
    margin: 0 auto;
  }

  #screen1 {
    font-size: 1em;
  }
  #screen2{
    font-size: 1.4em;
  }
  button {
    font-size: 2.1em;
  }
  button:active {
    color: #BA4E4E;
    font-size: 2.3em;
  }
  #info-panel p {
    font-size: 0.5em;
  }
}

      /* Extra Small Devices, Phones */ 
@media only screen and (min-device-width : 480px) {
  #calculator {
    max-width: 90%;
    margin: 0 auto;
  }
  #screen1 {
    font-size: 1.3em;
  }
  #screen2{
    font-size: 1.7em;
  }
  button {
    font-size: 2.5em;
  }
  button:active {
    color: #BA4E4E;
    font-size: 2.7em;
  }
  #info-panel p {
    font-size: 0.85em;
  }
}

    /* Small Devices, Tablets */
@media only screen and (min-device-width : 768px) {
  #calculator {
    max-width: 90%;
    margin: 0 auto;
  }
  #screen1 {
    font-size: 1.5em;
  }
  #screen2{
    font-size: 1.9em;
  }
  button {
    font-size: 2.5em;
  }
  button:active {
    color: #BA4E4E;
    font-size: 2.7em;
  }
  #info-panel p {
    font-size: 1.1em;
  }
}

    /* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
  #calculator {
    max-width: 60%;
    margin: 0 auto;
    }
  #screen1 {
    font-size: 1.7em;
    }
  #screen2{
    font-size: 2em;
  }
  button {
    font-size: 3.2em;
  }
  button:active {
    color: #BA4E4E;
    font-size: 3.5em;
  }
  #info-panel p {
    font-size: 1.2em;
  }
}

@media only screen and (orientation: landscape) and (max-device-width: 800px) {
    #calculator {
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-areas:
      "screen1 screen1 screen1 screen1 screen1"
      "screen2 screen2 screen2 screen2 screen2"
      "row11 row12 row22 row21 row23"
      "row14 row13 row31 row32 row33"
      "row24 row34 row41 row42 row43"
      "row44 row54 row51 row52 row53" ;
  }
}